@import "../../../styles/colors";
.Header {
  padding: 42px 8%;
  .Header_navbar {
    font-family: $FontFamilyTaviraj;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar_logo {
      margin-right: 7%;
    }
    .navbar_list {
      margin: 0;
      display: flex;
      list-style: none;
      text-decoration: none;
      gap: 40px;
      a {
        text-decoration: none;
        color: $ColorTextTaviraj;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0.02em;
      }
    }
    .navbar_cart-user {
      display: flex;
      align-items: center;
      gap: 25px;
      .navbar_searach {
        width: 25px;
        height: 25px;
      }
      .navbar_login {
        display: flex;
        align-items: center;
        .user {
          width: 17px;
          height: 21px;
          margin-right: 10px;
        }
        .navbar_login-text {
          font-size: 18px;
        }
      }
      .navbar_cart {
        button {
          width: 46px;
          height: 46px;
          background-color: $BackgroundImg;
          border: none;
          border-radius: 50%;
        }
      }
    }
  }
}
